@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
    var departments = new SelectList(@ViewBag.Departments, "Id", "Name");

}


<h1>Create</h1>

<form asp-action="Create" > 
    <div asp-validation-summary="All" class="text-danger"></div>


    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="HireDate"></label>
        <input class="form-control" asp-for="HireDate">
        <span class="text-danger" asp-validation-for="HireDate"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Address"></label>
        <input class="form-control" asp-for="Address">
        <span class="text-danger" asp-validation-for="Address"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Age"></label>
        <input class="form-control" asp-for="Age">
        <span class="text-danger" asp-validation-for="Age"></span>
    </div>
@*     <div class="mb-3">
        <label class="form-label" asp-for="CreationDate"></label>
        <input class="form-control" asp-for="CreationDate">
        <span class="text-danger" asp-validation-for="CreationDate"></span>
    </div> *@
    <div class="mb-3">
        <label class="form-label" asp-for="Department"></label>
        <select class="form-control" asp-for="DepartmentId" asp-items="@departments">
            <option value="@null">--- Select Department ---</option>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber">
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Salary"></label>
        <input class="form-control" asp-for="Salary">
        <span class="text-danger" asp-validation-for="Salary"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>


</form>
@section ClientSideValidation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}