@model Employee 
@{
    ViewData["Title"] = "Deatails";
}

<h1> @Model.Name Deatails</h1>



<form>

    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name">
        
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="HireDate"></label>
        <input class="form-control" asp-for="HireDate">
        
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Address"></label>
        <input class="form-control" asp-for="Address">
        
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Age"></label>
        <input class="form-control" asp-for="Age">
        
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="CreationDate"></label>
        <input class="form-control" asp-for="CreationDate">
        
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email">
        
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="IsActive"></label>
        <input class="form-control" asp-for="IsActive">
        
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber">
        
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Salary"></label>
        <input class="form-control" asp-for="Salary">
        
    </div>





</form>


